* { padding: 0; 
    margin: 0;  
    font-size: 48px;
    box-sizing: border-box;

}
.box-one {
    background-color: red;  
    height: 100px;
    width: 100px;
}  

 
.box-two{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block; 
} 

